# Copyright (c) IBM Corporation 2024
# This script performs Grid silent install option along with Release Update Patch .

grid_home="{{ grid_home }}"
temp_dir="{{ temp_dir }}"
ru_stage="{{ ru_stage }}"
grid_sw="{{ grid_sw }}"
apply_ru="{{ apply_ru }}"
ru_zip="{{ ru_zip }}"
ruid=$(expr "$ru_zip" : '^.*p\([0-9]*\)_.*$')
install_log="{{ temp_dir }}/logs/grid_install.out"

# Installation Prerequisite checks

if [ ! -f "{{ temp_dir }}/done/grid.install.prereq.done" ]; then
	echo `date` "./gridSetup.sh -silent -executePrereqs -responsefile {{ temp_dir }}/scripts/{{ response_file_crs_swonly }}" >> $install_log
	export SKIP_ROOTPRE="TRUE" && $grid_home/gridSetup.sh -silent -executePrereqs -responsefile "{{ temp_dir }}/scripts/{{ response_file_crs_swonly }}" >> $install_log 2>&1

	if grep -q 'Prerequisite checks executed successfully' $install_log; then
 	   touch "{{ temp_dir }}/done/grid.install.prereq.done"
 	   echo "gridSetup.sh -executePrereqs completed successfully."
	else
	   echo "ERROR: gridSetup.sh -executePrereqs failed. See $install_log for details."
	   exit 1
	fi
fi

# Installation

if [ ! -f "{{ temp_dir }}/done/grid.install.done" ]; then
	echo `date` "./gridSetup.sh -silent -responsefile {{ temp_dir }}/scripts/{{ response_file_crs_swonly }}" >> $install_log
	export SKIP_ROOTPRE="TRUE" && $grid_home/gridSetup.sh -silent -responsefile "{{ temp_dir }}/scripts/{{ response_file_crs_swonly }}" >> $install_log 2>&1
	
	if grep -q 'Successfully Setup Software' $install_log; then
 	   touch "{{ temp_dir }}/done/grid.install.done"
 	   echo "gridSetup.sh completed successfully."
	else
	   echo "ERROR: gridSetup.sh failed. See $install_log for details."
	   exit 1
	fi
fi


exit 0
