# Copyright (c) IBM Corporation 2023
# This script executes gridSetup.sh -configtools

# Idempotent: yes

# Variables

grid_home="{{ grid_home }}"
config_log="{{ temp_dir }}/logs/config.log"

# Main

if [ -f {{ temp_dir }}/done/rootupgrade.done ]; then
	if [ ! -f {{ temp_dir }}/done/configtools.done ]; then	
		export SKIP_ROOTPRE="TRUE" && $grid_home/gridSetup.sh -silent -executeConfigTools -responseFile {{ temp_dir }}/scripts/{{ response_file }} > $config_log 2>&1
	fi
else
	echo "ERROR: rootupgrade.sh didn't complete successfully, not proceeding further. Exiting"
exit 1	
fi

if grep -q "Successfully Configured Software" $config_log; then
	touch "{{ temp_dir }}/done/configtools.done"
	echo "gridSetup.sh -executeConfigTools completed successfully"
else
	echo "ERROR: gridSetup.sh -executeConfigTools failed. See $config_log for details."
exit 1
fi
exit 0
