global.autoupg_log_dir={{ global_log_dir }}
upg1.log_dir={{ log_dir }}
upg1.sid={{ source_db_name }}
upg1.source_home={{ source_db_home }}
upg1.target_home={{ target_db_home }}
upg1.start_time={{ start_time }}
upg1.upgrade_node={{ upgrade_node }}
upg1.run_utlrp={{ run_utlrp }}
upg1.timezone_upg={{ timezone_upg }}
upg1.target_version=19.3.0
upg1.target_cdb={{ target_cdb_name }}
