# Copyright (c) IBM Corporation 2023
# This script performs Oracle silent installation along with release update.

oracle_home="{{ db_oracle_home }}"
apply_ru="{{ apply_ru }}"
ru_zip="{{ ru_zip }}"
ruid=$(expr "$ru_zip" : '^.*p\([0-9]*\)_.*$')
install_log="{{ temp_dir }}/oracle_install.out"
if [ ! -f "{{ temp_dir }}/oracle.install.done" ]; then
    if [ $apply_ru == "True" ]; then
        if [ `grep patched $oracle_home/install/files.lst | wc -l` == 0 ]; then
           export SKIP_ROOTPRE="TRUE" && $oracle_home/runInstaller -applyRU "{{ sw_stage }}/$ruid" -silent -responsefile "{{ temp_dir }}/{{ response_file }}" > $install_log 2>&1
           else
           export SKIP_ROOTPRE="TRUE" && $oracle_home/runInstaller -silent -responsefile "{{ temp_dir }}/{{ response_file }}" > $install_log 2>&1
        fi
    fi
fi

if grep -q 'Successfully Setup Software' $install_log; then
  touch "{{ temp_dir }}/oracle.install.done"
  echo "Oracle install done"
else
  echo "ERROR: runInstaller failed. See $install_log for details."
  exit 1
fi
  
exit 0
