# Copyright (c) IBM Corporation 2023
# This script will do only prechecks. No changes will be done to the system.

# Variables

prechecks={{ temp_dir }}/prechecks.log
swap_check=`lsps -a| tail -n +2| awk '{sum+=$4} END {print sum}'`
tmp_check=`df -g /tmp |tail -1|awk '{print $3}'`
maxup_check=`lsattr -E -l sys0|grep maxuproc|awk '{print $2}'`
apply_ru="{{ apply_ru }}"
check_oh=`cat {{ ora_inventory }}/ContentsXML/inventory.xml |grep {{ db_oracle_home }} | grep "^[^#;]"| wc -l`
ruid=$(expr "$ru_zip" : '^.*p\([0-9]*\)_.*$')

# Main

if [ $check_oh != 0 ]; then
  echo "Oracle Home already registered in oraInventory (failed)" >> $prechecks
else
  echo "Oracle Home is not registered in oraInventory" >> $prechecks
fi

if [ $swap_check -lt {{ swapsize }} ]; then
  echo "Increase Swap size to greater than 16384 (failed)"      >> $prechecks
else
  echo "Swap has enough space"  >> $prechecks
fi

if [ $tmp_check -lt 5 ]; then
  echo "/tmp has less than 5GB space (failed)" >> $prechecks
else
  echo "/tmp has sufficient space" >> $prechecks
fi

if [ $maxup_check -lt {{ maxuserproc }} ]; then
  echo "maxuproc is less than 16384 (failed)" >> $prechecks
else
  echo "maxuproc value is sufficient $maxup_check" >> $prechecks
fi

if [ ! -f {{ sw_stage }}/{{ db_oracle_sw }} ]; then
  echo "Grid software {{ sw_stage }}/{{ db_oracle_sw }} NOT found (failed)" >> $prechecks
fi

if [ $apply_ru == True ]; then
  if [ ! -f {{ sw_stage }}/{{ ru_zip }} ]; then
    echo "RU Patch zip file not found (failed)" >> $prechecks
  fi
fi

if [ $apply_ru == True ]; then
  if [ $is_sw_local == True ]; then
     if [ ! -d {{ sw_stage }}/$ruid ]; then
	echo "The directory {{ sw_stage }}/$ruid is empty (failed)."
     fi
  fi
fi

if [ $apply_ru == True ]; then
  if [ ! -f {{ sw_stage }}/{{ opatch_sw }} ]; then
    echo "OPatch zip file not found (failed)" >> $prechecks
  fi
fi

if grep -q 'failed' $prechecks; then
   echo "Some or All prechecks have failed, Review the below messages"
   cat $prechecks|grep failed
   rm $prechecks
   exit 1
else
   echo "Prechecks completed successfully."
fi
  
exit 0
