# Copyright (c) IBM Corporation 2023

# This script does the following:
# 1) unzip oracle files
# 2) move OPatch/ to OPatch.prev/
# 3) unzip new OPatch
# 4) unzip Release Update

# Variables
#
db_oracle_home="{{ db_oracle_home }}"
temp_dir="{{ temp_dir }}"
sw_stage="{{ sw_stage }}"
db_oracle_sw="{{ db_oracle_sw }}"
apply_ru="{{ apply_ru }}"
opatch_sw="{{ opatch_sw }}"
is_sw_local="{{ is_sw_local }}"
ru_zip="{{ ru_zip }}"

# Main
#
if [ ! -d $db_oracle_home ]; then
   mkdir -p $db_oracle_home
fi

if [ ! -f "{{ temp_dir }}/sw.unzipped" ]; then
   unzip -q $sw_stage/$db_oracle_sw -d $db_oracle_home
   touch $temp_dir/sw.unzipped
   echo "$db_oracle_home unzipped"
fi

if [ $apply_ru == True ]; then
   if [ ! -f "{{ temp_dir }}/opatch.unzipped" ]; then
      if [ ! -d "$db_oracle_home/OPatch.prev" ]; then
        mv $db_oracle_home/OPatch $db_oracle_home/OPatch.prev
        unzip -q $sw_stage/$opatch_sw -d $db_oracle_home
        touch "{{ temp_dir }}/opatch.unzipped"
        echo "$db_oracle_home/OPatch unzipped."
      fi
   fi
fi

if [ $apply_ru == True ]; then
   if [ $is_sw_local == False ]; then
      if [ ! -f "$temp_dir/ru.unzipped" ]; then
      unzip -q $sw_stage/$ru_zip -d $sw_stage
      touch "{{ temp_dir }}/ru.unzipped"
      fi
   fi
fi

exit 0
